body{
    background-color: #B4B4B3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 1rem;
    line-height: 1.0;
}

p, li {
    font-size: 1.0rem;
    text-align: justify;
    margin: 30px;
}
img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    background: no-repeat center; 
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h4 {
    margin: 15px;
}
