body{
    background-color: #BFB29E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

p, li {
    font-size: 1.0rem;
    text-align: justify;
    margin: 15px;
}
.spag {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    background: url("images/spag.png") no-repeat center;  
}
header h1{
    text-align: center;
}
div h2{
    text-align: center;
}
section h2{
    text-align: center;
}
h4 {
    margin: 15px;
}
