.body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.header,
.description,
.ingridients,
.steps {
    font-weight: bolder;
    padding: 00px;
    text-align: center;
}
.header{
    background-color: #f6f6f6;
    padding: 1rem 0;
    color: black;
}
.recipe-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.one,
.step-listing,
.ingridient-listing,
.ending{
    color-interpolation-filters: linearRGB;
    color: #333
}