.body {
    background-color: rgb(216, 218, 122);
    font-family: Verenda, sans-serif, "Time New Roman";
}
.header,
.description,
.ingridients,
.steps {
    color: black;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
.recipe-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.one,
.step-listing,
.ingridient-listing,
.ending{
    color-interpolation-filters: linearRGB;
    color: #2f4605
}